/* Why must you break things? */

/* Document Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background: white;
    color: black;
}

/* Controls */
.controls tr.first td {
    border-top: 1px solid black;
    padding-top: 5px;
}

.controls tr.last td {
    padding-bottom: 5px;
}

.controls tr input[type="text"] {
    width: 24em;
}

/* Printable Page */
.page {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth: never;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
}

.page h1 {
    font-size: 48pt;
    letter-spacing: 4px;
    margin: 0.5rem 0;
}

.page div {
    margin: 5rem 0;
    padding: 1rem;
    border: 7px solid black;
}

.page #page-qrcode img {
    width: 256px;
    height: 256px;
    image-rendering: pixelated;
}

.page p {
    font-size: 20pt;
    margin: 0.25rem 0;
}

.page p.alt {
    font-size: 20pt;
    opacity: 50%;
}

.page p.subalt {
    font-size: 12pt;
    opacity: 37.5%;
}

/* Printed Styling */
@media print {

    @page {
        size: 8.5in 11in;
        margin: 0;
    }

    html,
    body {
        width: 8.5in;
        height: 11in;
        margin: 0;
        padding: 0;
        background: white !important;
        color: black !important;
    }

    .no-print {
        display: none;
        visibility: hidden;
    }

    .page {
        margin: 0;
        border: none;
    }
}