/* Why must you break things? */

/* Document Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background: white;
    color: black;
}

/* Printable Page */
.page {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.page h1 {
    font-size: 48pt;
    letter-spacing: 4px;
    margin: 0.5rem 0;
}

.page div {
    margin: 10rem 0;
    padding: 1rem;
    border: 7px solid black;
}

.page p {
    font-size: 20pt;
    margin: 0.25rem 0;
}

.page p.alt {
    font-size: 20pt;
    opacity: 50%;
}

.page p.subalt {
    font-size: 12pt;
    opacity: 37.5%;
}

/* Printed Styling */
@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .no-print {
        display: none;
        visibility: hidden;
    }

    .page {
        margin: 0;
        border: none;
    }
}